<?xml version="1.0" encoding="UTF-8" ?>
<section>
    <h1>Domain partners</h1>
    <p>Filtro para los campos Cliente, Proveedor, direccion de entrega y de factura de las vistas ventas, compras y
        facturacion</p>
</section>
<section>
    <h2>View</h2>
    <div class="oe_demo">
        <h3>Sale:</h3>
        <img src="images/sale_view.png" />
        <h3>Purchase:</h3>
        <img src="images/purchase_view.png" />
        <h3>Account:</h3>
        <img src="images/account_view.png" />
    </div>
</section>
<section>
    <h2>Functionality</h2>
    <p>
        Filtra los campos anteriores para mostrar solo los contactos que tengan el campo tipo de direccion con el que
        corresponde.
    </p>
</section>
